In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime as dt
from datetime import datetime
from scipy.stats import linregress
from citipy import citipy

In [4]:
visitor_path = "Data/changes-visitors-covid.csv"
covid_path = "Data/covid-data.csv"
debt_path = "Data/debt-relief-covid.csv"
income_path = "Data/income-support-covid.csv"
face_path = "Data/face-covering-policies-covid.csv"
travel_path = "Data/international-travel-covid.csv"
school_path = "Data/school-closures-covid.csv"

In [11]:
visitor_data = pd.read_csv(visitor_path)
covid_data = pd.read_csv(covid_path)
debt_data = pd.read_csv(debt_path)
income_data = pd.read_csv(income_path)
face_data = pd.read_csv(face_path)
travel_data = pd.read_csv(travel_path)
school_data = pd.read_csv(school_path)

In [12]:
visitor_data.head()

,Entity,Code,Day,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
0,Afghanistan,AFG,2020-02-17,0.00,4.000,1.333,5.667,1.000,-6.333
1,Afghanistan,AFG,2020-02-18,0.75,4.250,0.750,6.500,1.500,-3.250
2,Afghanistan,AFG,2020-02-19,0.40,4.000,0.800,5.200,1.400,-1.600
3,Afghanistan,AFG,2020-02-20,0.00,3.833,0.833,5.000,1.000,-0.333
4,Afghanistan,AFG,2020-02-21,0.00,4.571,0.714,5.286,1.429,0.571

In [110]:
covid_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [122]:
covid_data.head()
covid_df = round(covid_data.groupby(["location"])["total_cases"].max(),2)
# type(covid_df)
covid_df.dropna(inplace=True)
covid_df

location
Afghanistan        93288.0
Africa           5101570.0
Albania           132476.0
Algeria           134458.0
Andorra            13836.0
                  ...
Vietnam            11794.0
World          177040182.0
Yemen               6867.0
Zambia            118850.0
Zimbabwe           40556.0
Name: total_cases, Length: 201, dtype: float64

In [99]:
len(covid_data)

96208

In [49]:
debt_data.head()

        Entity Code         Day  debt_relief
0  Afghanistan  AFG  2020-01-01            0
1  Afghanistan  AFG  2020-01-02            0
2  Afghanistan  AFG  2020-01-03            0
3  Afghanistan  AFG  2020-01-04            0
4  Afghanistan  AFG  2020-01-05            0

In [83]:
income_data.head()

        Entity Code         Day  income_support
0  Afghanistan  AFG  2020-01-01               0
1  Afghanistan  AFG  2020-01-02               0
2  Afghanistan  AFG  2020-01-03               0
3  Afghanistan  AFG  2020-01-04               0
4  Afghanistan  AFG  2020-01-05               0

In [97]:

income_df = round(income_data.groupby(["Entity"])["income_support"].mean(),2)
income_df
income_df.sort_values(ascending = False)

Entity
Sweden         1.74
Belgium        1.73
Andorra        1.73
France         1.72
Denmark        1.72
               ...
Lebanon        0.00
Ethiopia       0.00
Zambia         0.00
Ghana          0.00
Afghanistan    0.00
Name: income_support, Length: 185, dtype: float64

In [75]:
df = income_data.set_index("Entity")

# df = income_data.loc["Afghanistan"]
df_income = df.loc["Bulgaria"]
df_income["income_support"].sort_values(ascending = False)

Entity
Bulgaria    2
Bulgaria    2
Bulgaria    2
Bulgaria    2
Bulgaria    2
           ..
Bulgaria    0
Bulgaria    0
Bulgaria    0
Bulgaria    0
Bulgaria    0
Name: income_support, Length: 517, dtype: int64

In [16]:
face_data.head()

        Entity Code         Day  facial_coverings
0  Afghanistan  AFG  2020-01-01                 0
1  Afghanistan  AFG  2020-01-02                 0
2  Afghanistan  AFG  2020-01-03                 0
3  Afghanistan  AFG  2020-01-04                 0
4  Afghanistan  AFG  2020-01-05                 0

In [17]:
travel_data.head()

        Entity Code         Day  international_travel_controls
0  Afghanistan  AFG  2020-01-01                              0
1  Afghanistan  AFG  2020-01-02                              0
2  Afghanistan  AFG  2020-01-03                              0
3  Afghanistan  AFG  2020-01-04                              0
4  Afghanistan  AFG  2020-01-05                              0

In [20]:
school_data.head()

        Entity Code         Day  school_closures
0  Afghanistan  AFG  2020-01-21                0
1  Afghanistan  AFG  2020-01-22                0
2  Afghanistan  AFG  2020-01-23                0
3  Afghanistan  AFG  2020-01-24                0
4  Afghanistan  AFG  2020-01-25                0